body
{
    background-color: #EEEEEE;
    font-family: Helvetica;
    
}
.strona
{
    width: 90%;
    margin: auto;
}

.gora {
    display: inline-flex;
    width: 100%;
}

.logo, .menu
{
    background-color: lightblue; 
    height: 100px; 
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.baner
{
    background-color: #DDDDDD;
    height: 200px;
}

.glowny
{
    color: navy;
    margin: 50px;
    height: 400px;
}

.stopka
{
    text-align: right;
    background-color: lightblue;
    padding: 10px;
}
.menu a
{
    color: navy;
    size: 150%;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}
.menu a:hover
{
    border: 1px solid navy;
}

button {
    background-color: lightblue;
    color: navy;
}